.title {
    color: #346871;
    font-size: 48px;
    font-weight: 500;
    text-align: center;
    line-height: 65px;
    margin-top: 35px;
}

.middle {
    width: 100%;
    height: 128px;
    /* border: 2px solid #b76262; */
}

.search {
    float: left;
}

.form {
    position: absolute;
    width: 387px;
    height: 63px;
    border: 2px solid #c0c0c0;
    background: #fff;
    box-sizing: border-box;
    margin-top: 30px;

}

.keyword {
    float: left;
    width: 258px;
    height: 55px;
    padding: 2px 44px 2px 17px;
    border: 1px solid transparent;
    font-size: 22px;
    outline: none;
}

.form button {
    float: right;
    width: 63px;
    height: 61px;
    line-height: 50px;
    border: none;
    background-color: #c0c0c0;
    font-size: 40px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
}

.search-helper {
    display: none;
    position: absolute;
    left: 0;
    top: 64px;
    width: 295px;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}

.search-helper p {
    text-align: left;
    font-size: 20px;
    height: 33px;
    padding: 1px 6px;
    line-height: 28px;
    cursor: pointer;
    color: #666;
}

.middle-right {
    position: absolute;
    width: 798px;
    height: 63px;
    box-sizing: border-box;
    margin-top: 36px;
    margin-left: 705px;
}

select {
    float: left;
    width: 208px;
    height: 55px;
    border-radius: 5px;
    border: solid 1px #c0c0c0;
    box-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
    background: #ECE6A5;
    font-size: 20px;
    color: #415058;
    text-align: center;
    cursor: pointer;
}

.middle-right .shop {
    float: left;
    width: 62px;
    height: 41px;
    font-size: 25px;
    margin-top: 9px;
    margin-left: 23px;
}


.middle-right .position {
    float: left;
    width: 62px;
    height: 41px;
    font-size: 25px;
    margin-top: 9px;
    margin-left: 23px;
}

/* .table {
    width: 100%;
    height: 400px;
    overflow-y: auto;
    设置纵向滚动
} */
.table {
    width: 1500px;
    /* margin: 100px auto; */
    border-collapse: collapse;
    text-align: center;
    /* margin-top: 5px; */
    height: 600px;
    /* border: 2px solid #c0c0c0; */
    overflow-y: auto;
    /*设置纵向滚动*/
    /*margin-left: 0px;*/
}

td,
th {
    border: 2px solid #c0c0c0;
    font-size: 18px;
    width: 167px;
    height: 50px;
    color: #000000;
    line-height: 50px;
}

thead tr {
    height: 50px;
    width: 1500px;
    background-color: #E8E8E8;
}

.btnG1 {
    border-radius: 5px;
    width: 70px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #346871;
    cursor: pointer;
}

.btnG2 {
    border-radius: 5px;
    width: 70px;
    height: 50px;
    font-size: 18px;
    color: #fff;
    background-color: #A4ADB3;
    cursor: pointer;
}

.table::-webkit-scrollbar {
    /* 是否隐藏滚动条*/
    display: block;
}

::-webkit-scrollbar {
    /* 定义滚动条样式 */
    width: 10px;
    background-color: white;
}

::-webkit-scrollbar-track {
    /*定义滚动条轨道 内阴影+圆角*/
    box-shadow: inset 0 0 0px black;
    /* border-radius: 5px; */
    background-color: #E8E8E8;
}

::-webkit-scrollbar-thumb {
    /*定义滑块 内阴影+圆角*/
    border-radius: 10px;
    box-shadow: inset 0 0 0px rgba(240, 240, 240, .5);
    background-color: #c0c0c0;
}

.add {
    /* float: right; */
    border-radius: 5px;
    margin-left: auto;
    width: 157px;
    height: 52px;
    line-height: 22px;
    font-size: 22px;
    color: #fff;
    background-color: #8FABD0;
    margin-top: 30px;
    cursor: pointer;
}



/* 下面是弹框 */
.zhezhao {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    /* 透明度  布局固定居中*/
    opacity: 1;

}

.tankuang {
    position: relative;
    /* background-color:rgb(233, 240, 246); */
    background-color: rgb(79, 78, 78);
    width: 400px;
    height: 635px;
    border-radius: 5px;
    margin: 8% auto;
    border: 1px solid #8FABD0;
}

#header {
    height: 60px;
    /* background: rgb(0, 139, 139); */
}

#header h3 {
    position: absolute;
    width: 150px;
    height: 50px;
    top: 20px;
    left: 150px;
    /* color: #8FABD0; */
    color: aliceblue;
}

#tankuangBody {
    position: absolute;
    height: 450px;
    width: 450px;
    /* background-color: pink; */
    left: 50px;
}

.lb11 {
    position: absolute;
    top: 10px;
    left: 0;
}

.lb11t {
    position: absolute;
    top: 5px;
    /* right: 60px; */
    left: 60px;
    width: 180px;
    height: 30px;
    font-size: 18px;
}

.lb22 {
    position: absolute;
    top: 60px;
    left: 0;
}

.lb22t {
    position: absolute;
    top: 55px;
    /* right: 60px; */
    left: 60px;
    width: 180px;
    height: 30px;
    font-size: 18px;
}

.lb33 {
    position: absolute;
    top: 110px;
    left: 0;
}

.lb33t {
    position: absolute;
    top: 105px;
    left: 60px;
    width: 180px;
    height: 30px;
    font-size: 18px;
}

.lb44 {
    position: absolute;
    top: 160px;
    left: 0;
}

.lb44t {
    position: absolute;
    top: 155px;
    left: 60px;
    width: 180px;
    height: 30px;
    font-size: 18px;
}

.lb55 {
    position: absolute;
    top: 210px;
    left: 0;
}

.lb55t {
    position: absolute;
    top: 205px;
    left: 120px;
    width: 180px;
    height: 30px;
    font-size: 18px;
}

.lb66 {
    position: absolute;
    top: 260px;
    left: 0;
}

.lb66t {
    position: absolute;
    top: 255px;
    left: 140px;
    width: 180px;
    height: 30px;
    font-size: 18px;
}

.lb77 {
    position: absolute;
    top: 310px;
    left: 0;
}

.lb77t {
    position: absolute;
    top: 305px;
    left: 140px;
    width: 180px;
    height: 30px;
    font-size: 18px;
}

.lb88 {
    position: absolute;
    top: 360px;
    left: 0;
}

.lb88t {
    position: absolute;
    top: 355px;
    left: 60px;
    width: 200px;
    height: 30px;
    font-size: 18px;
}

.lb99 {
    position: absolute;
    top: 410px;
    left: 0;
}

.lb99t {
    position: absolute;
    top: 405px;
    left: 60px;
    width: 200px;
    height: 30px;
    font-size: 18px;
}

#tankuangFoot {
    position: absolute;
    width: 350px;
    height: 80px;
    top: 535px;
    left: 100px;
}

#tankuangFoot input {
    color: #fff;
    background-color: #8FABD0;
    font-size: 20px;
    margin-left: 5px;
    border: 2px solid white;
    padding: 10px 20px;
}


/* .end {
    width: 100%;
    height: 105px;
    box-sizing: border-box;
    margin-top: 105px;
    position: absolute;
    justify-content: space-between;
}

.end .add6 {
    width: 100%;
    height: 55px;
    margin-top: 10px;
}


.ID1 {
    width: 155px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #c0c0c0;
}

.ID2 {
    width: 155px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #c0c0c0;
}

.ID3 {
    width: 155px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #c0c0c0;
}

.ID4 {
    width: 155px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #c0c0c0;
}

.ID5 {
    width: 155px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #c0c0c0;
}

.ID6 {
    width: 155px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #c0c0c0;
}

.ID7 {
    width: 155px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #c0c0c0;
}

.ID8 {
    width: 155px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #c0c0c0;
}

.ID9 {
    width: 155px;
    height: 35px;
    font-size: 16px;
    margin-left: 10px;
    margin-top: 5px;
    border: 1px solid #c0c0c0;
}


.add6 .add {
    float: right;
    border-radius: 5px;
    width: 157px;
    height: 52px;
    line-height: 22px;
    font-size: 22px;
    color: #fff;
    background-color: #8FABD0;
    margin-top: 0;
    cursor: pointer;
} */

/* .end .edit {
    border-radius: 5px;
    width: 157px;
    height: 52px;
    line-height: 18px;
    font-size: 22px;
    margin-left: 15px;
    color: #fff;
    background-color: #346871;
    cursor: pointer;
}

.end .delete {
    border-radius: 5px;
    float: right;
    width: 157px;
    height: 52px;
    line-height: 18px;
    font-size: 22px;
    color: #fff;
    background-color: #A4ADB3;
    cursor: pointer;
} */

/* .btnG1 {
    border-radius: 5px;
    width: 70px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #346871;
    cursor: pointer;
}

.btnG2 {
    border-radius: 5px;
    margin-left: 3px;
    width: 70px;
    height: 40px;
    font-size: 18px;
    color: #fff;
    background-color: #A4ADB3;
    cursor: pointer;
} */